
<div class="col-md-8 col-md-offset-2">
  <div class="jumbtron">
    <h3><%= @user.username.capitalize %></h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <a href="/photos/new" class="btn btn-default btn-block">
        <i class="fa fa-plus"></i>
      </a>
      <hr>
    </div>
  </div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <% @photo.each do |photo| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="users/<%= photo.user.id %>"><%= photo.user.username %></a>
              <small><%= time_ago_in_words(photo.created_at) %> ago</small>
            </h3>
          </div>
          <div class="panel-body">
            <p></p>
              <a href="/photos/<%= photo.id %>">
                <dd><img src="<%= photo.image %>" class="img-responsive"></dd>
              </a>
            <p></p>
            <dd><h4><%= photo.caption %></h4></dd>
            <p></p>
            <dd>
              <% if photo.likes.find_by({ :user_id => current_user.id}).present? %>
                <p>
                  <a href="/delete_like/<%= photo.likes.find_by({ :user_id => current_user.id}).id %>">
                    <i class="fa fa-heart"></i>
                  </a>

                  <%= photo.fans.pluck(:username).to_sentence %>
                  <% if photo.fans.count == 0 %>
                    be the first to like this photo
                  <% elsif photo.fans.count == 1 %>
                    likes this
                  <% else %>
                    like this
                  <% end  %>
                </p>


              <% else %>
                  <form action="/create_like" method="post">
                    <!-- Hidden input for authenticity token to protect from forgery -->
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                    <!-- Label and input for user_id -->
                    <div class="form-group">
                      <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
                    </div>
                    <!-- Label and input for photo_id -->
                    <div class="form-group">
                      <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">
                    </div>
                    <button class="btn btn-link">
                      <i class="fa fa-heart-o"></i>
                    </button>
                  <%= photo.fans.pluck(:username).to_sentence %>
                  <% if photo.fans.count == 0 %>
                    be the first to like this photo
                  <% elsif photo.fans.count == 1 %>
                    likes this
                  <% else %>
                    like this
                  <% end  %>
                  </form>
              <% end %>

            </dd>
            <p></p>
            <% photo.comments.each do |comment| %>
              <ul class="media-list">
                <li class="media">
                  <div class="media-body">
                    <h6 class="media-heading">
                      <a href="comment.user.id"><%= comment.user.username %></a>
                      <small><%= time_ago_in_words(comment.created_at) %></small>
                    </h6>
                  </div>
                </li>
                <p><%= comment.body %></p>
              </ul>
            <% end  %>

            <form action="/create_comment" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Label and input for photo_id -->
              <div class="form-group">
                <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">
              </div>

              <!-- Label and input for body -->
              <div class="form-group">
                <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required></textarea>
              </div>

              <!-- Label and input for user_id -->
              <div class="form-group">
                <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
              </div>
            </form>
          </div>
        </div>
      <% end %>


  </div>
</div>


